html,
body,
{
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

section {
  margin-top: 8%;
  margin-bottom: 8%;
}


/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	

  main {
  	padding:0%;
  }
  #section1Heading{
  	padding-right: 0%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}*/

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

nav {
  background-color: #666786;
  margin-top: 0;
  color: white;
}

.navbar {
  padding-top: 0;
}

.navbar-nav {
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.nav-item {
  padding-top: 5%;
}

.nav-item:hover {
  background-color: #00ffa1;
  color: black;
  clip-path: polygon(25% 0%, 100% 0%, 84% 100%, 6% 100%);
}

.icon {
  margin-top: 30px;
}

#search {
  background: #666786;
  color: white;
  border: none;
}

main {
  padding: 15% 15% 23% 15%;
  text-align: center;
  background-color: #666786;
  color: #00ffa1;
}

#section1Heading {
  width: 100%;
  padding-right: 60%;
  justify-content: left;
  margin-bottom: 5%
}

#simplicity {
  color: #00ffa1;
}

#section1 {
  color: #666666;
}

#section2 {
  padding: 23% 15% 27% 15%;
  text-align: center;
  color: white;
  background-color: #666666;
}

#carousel {
  margin-bottom: 3%;
}

#section3Image {
  margin-top: 3%;
  padding-right: 3%;
}

aside {
  background-color: #00ffa1;
  color: #313b36;
  padding: 2% 0%;
  vertical-align: middle;
}

footer {
  background-color: #333;
  color: #4c4c4c;
  width: 100%;
  padding-top: 5%;
}

#footNav {
  padding: 7%;
}

#copyright {
  padding: 4% 6% 4% 6%;
  background-color: #2c2c2c;
}

#cr {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: center;
}

.btn {
  font-size: 14px;
  padding: 0px 50px;
}

.btn-primary {
  background-color: #00ffa1;
  color: white;
  border-color: #00ffa1;
}

.btn-secondary {
  background-color: white;
  color: #2c2c2c;
  border-color: white;
}

p {
  font: helvetica;
  margin-bottom: 4%;
  font-size: 13px;
  line-height: 2em;
}

ul {
  text-align: center;
}

li {
  color: #00ffa1;
  display: inline-block;
}

a {
  color: #4c4c4c;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 30px;
}

h3 {
  text-align: center;
}

h5 {
  font-family: Lora, serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 3%;
  line-height: 55px;
}

.white {
  color: white;
}